body {
    font-family: 'Open Sans'!important;
}
.navbar-nav li a {
    font-size: 15px!important;
    color: #ffffff!important;
}
.box-alzi {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
}
.box-alzi .card-body {
    padding: 40px!important;
}
.box-alzi ul {
  padding-left: 0px;
  margin-bottom: 0px;
    list-style: none;
}
.box-alzi li {
    margin-bottom: 10px;
}
.box-alzi a {
    color:#7A209B;
}
.card-head-alzi {
    font-weight: 600;
    margin-bottom: 10px;
}
.btn-cta-alzi:hover{
    background: #fdb515;
    color:#000000!important;
}
footer {
    background: #360058;
    color: #ffffff;
}
footer a {
    color: #ffffff;
}
footer a:hover {
    color:#fdb515;
}
.mobileSayaAdalah .card-body li  {
    margin-bottom: 10px;
}
.mobileSayaAdalah .card-body ul  {
    margin-bottom: 0px;
    padding-left: 12px;
}
.mobileSayaAdalah .card-body li:last-child {
    margin-bottom: 0px;
}
.mobileSayaAdalah .card-body a {
    color:#7A209B;
}

.ka {
    padding: 20px;
    font-size: 30px;
    width:70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    background: #290141;
}

.ka:hover {
    opacity: 0.7;
    color:#fff;
    text-decoration: none;
}