body {
    font-family: 'Cabin', sans-serif !important;
}
.navbar-nav li a {
    font-size: 18px;
}
.card a {
    color:#ED4A00;
}
.card {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
}
footer {
    background: #222831;
    color:#EFE9D9;
}
footer a {
    color:#70AB8F;
}
footer a:hover {
    color:#ED4A00;
}
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-masthead a{
    color: #fff;
}
.blog-masthead a:hover{
  color: #428bca;
}